body {
    box-sizing: border-box;
    margin: 0px
}

.navegacion {
    box-sizing: border-box;
    width: 100vw;
    height: 7vh;
    background-color: #F5F5F6;
    padding: 0px;
    margin: 0px;
}

.lista{
    width: 100vw;
    margin: 0 auto;
    text-align: center;
}

.boton-nav{
    padding: 15px;
    background-color: transparent;
    border-color: transparent;

}

a {
    color: black;
    text-decoration: none;
    font-family: Helvetica, Arial;     
    font-size: 14.5px;    
    -webkit-text-size-adjust: nonce;
}
